// 레이아웃
$defaultMinWidth: 190rem;

// 폰트 패밀리 기본
$fontDefault: 'Pretendard', sans-serif;

// s : 폰트 굵기
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
// e : 폰트 굵기

// s : 폰트 컬러
// Primary Color
$colorPrimary: #00AEC8;

$colorSecondaryBasic: #67EBFF;
$colorSecondaryLight: #B6F5FF;
$colorSecondaryBright: #E5F2FF;

$colorLnb: #60758A;
$colorLnbBg: #3E4F60;
$colorBg: #f5f5f5;
$colorLnbNum: #556976;
$colorLnbNumSel: #06C6F0;
$colorErr: #f13c45;

// gray scale
$colorBlack: #000;
$colorGray1: #1c1c1c;
$colorGray2: #3c3c3c;
$colorGrayDisText: #5a5a5a;
$colorGrayLineHover: #7a7a7a;
$colorGrayFormBoard: #9b9b9b;
$colorGrayInput: #c6c6c6;
$colorGrayBoardHover: #dcdcdc;
$colorGrayBg: #f4f4f4;
$colorWhite: #fff; 
// e : 폰트 컬러
