// 최상단 선언
@use '@/assets/sass/abstracts/variables' as kodata;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInWidth {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInMessages {
  from {
    opacity: 0;
    transform: translateY(30px);
    display: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
}

@keyframes fadeInToast {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes shimmer {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes chatPanelView {
  from {
    width: 0;
  }
  to {
    width: 47%;
  }
}

@keyframes composerBoxUp {
  from{
    bottom: -2.4rem;
  }
  to{
    bottom: 0;
  }
}

@keyframes favorite {
  0%{
    transform: scale(1.2);
    background-image: url('@/assets/images/common/icon-favorite.svg');
  }
  70%{
    transform: scale(1.4);
    background-image: url('@/assets/images/common/icon-favorite-active.svg');
  }
  100%{
    transform: scale(1);
    background-image: url('@/assets/images/common/icon-favorite-active.svg');
  }
}

@keyframes like {
  0%{
    background-image: url('@/assets/images/chat/icon-like.svg');
  }
  100%{
    background-image: url('@/assets/images/chat/icon-like-active.svg');
  }
}

@keyframes dislike {
  0%{
    background-image: url('@/assets/images/chat/icon-dislike.svg');
  }
  100%{
    background-image: url('@/assets/images/chat/icon-dislike-active.svg');
  }
}

@keyframes progressBar {
  0%{
    width: 0;
  }
  to{
    width: 100%;
  }
}

@for $i from 1 through 5 {
  @keyframes typeSelect#{$i} {
    0%{
      background-image: url('@/assets/images/chat/icon-box-type#{$i}.svg');
    }
    to{
      background-image: url('@/assets/images/chat/icon-box-type#{$i}-active.svg');
    }
  }
}

@keyframes bookmark {
  0%{
    background-image: url('@/assets/images/common/icon-bookmark.svg');
  }
  100%{
    background-image: url('@/assets/images/common/icon-bookmark-active.svg');
  }
}